@model QuanLyKhoMVC.Models.VatTu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VatTu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTri)
        </dd>
    </dl>
    
    <h3>Xuất kho vật tư</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tên vật tư:</dt>
        <dd class="col-sm-9">@Model.TenVatTu</dd>
        <dt class="col-sm-3">Số lượng hiện tại:</dt>
        <dd class="col-sm-9">@Model.SoLuong</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaVatTu" />
        
        <div class="form-group mb-3">
            <label class="control-label">Nhập số lượng muốn xuất:</label>
            <input type="number" name="soLuongXuat" class="form-control" min="1" max="@Model.SoLuong" value="1" required />
        </div>

        <button type="submit" class="btn btn-warning">Xác nhận Xuất</button> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
</div>
